body {
   
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat'
    
}

.container {
    position: relative;
    width: 414px;
    height: 800px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to bottom, #c8daff, #2c4674);
    border: 4px #2c4674;
}
h1 {
    font-size: 64px;
    color: #2b3a61;
    margin-top: 70px;
    font-family: 'Montserrat'
}
h2 {
    font-size: 24px;
    color: white;
    margin: 10px 20px;
    font-family: 'Montserrat'
}

.menino {
    width: 105%;
    bottom: 70px;
    opacity: 0;
    transform: translateY(100px);
    animation: subir 1s forwards ease-out;
    max-width: 105%;
    margin-top: 140px;
}

@keyframes subir {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.muie{

width: 105%;
bottom: 70px;
opacity: 0;
transform: translateY(100px);
animation: subir 1s forwards ease-out;
max-width: 105%;
margin-top: 51px;
}

.botao1 {
    transition: transform 0.5s ease;
    position: relative;
    bottom: 2px;
    color: #2c4674;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: -820px;
    margin-left: -30px;
    border: none;
}
a {
    text-decoration: none;
}
.botao2 {
    transition: transform 0.5s ease;
    position: relative;
    bottom: 2px;
    color: #2c4674;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: -820px;
    margin-left: 30px;
    border: none;
}
.botao3 {
    transition: transform 0.5s ease;
    position: relative; 
    bottom: 2px;
    background-color: #2b3a61;
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: -180px;
    border: none;
}
i {
    font-size: 30px;
}

button:hover {
    transform: rotate(90deg);
}